/* responsive start here */
@media screen and (max-width: 576px) {
  
  /* navbar responsive start here */
    .list-item{
      display: none;
    }
    
    .menu-icon-style{
      display: block;
  
    }
    .nav-btn{
      display: none;
    }
    /* nav responsive end */


    /* hr responsive start */
    .hr-line {
      display: block;
    }
    /* hr responsive end */


    /* header responsive */
    .header{
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
    
    .left-header{
      margin-top: 20px;
    }
    .header-title{
      text-align: center;
      /* line-height: auto; */
      font-size: 42px;
    }
    .header-description{
      font-weight: 500;
      font-size: 18px;
    }
    .right-header img{
    
      max-width: 90%;
      margin: 0 auto;
    }

    
    /* curriculum responsive start here */
    .card-section{
      max-width: 90%;
      margin: 0 auto;
      grid-template-columns: repeat(1, 1fr);
    }
    .radius-btn{
      display: none;
    }

   /* stories responsive start here */
   .stories-card-section{
    grid-template-columns: 1fr;
  }

  .part-1{
    
    display: none;
  }
  .small-section{
    /* padding: 10px; */
    max-width: 90%;
    margin: 0 auto;
  }
    

    /* footer responsive */
    .all-footer-content{
      
      grid-template-columns: 1fr;
      gap: 30px;
      max-width: 90%;
      margin: 0 auto; 
      }
   
  }