/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shered style start here */
li {
  list-style: none;
}
.primary-btn{
  width: 197px;
  height: 50px;
  padding: 10px;
  /* margin: 0 10px; */
  border-radius: 12px;
  background-color: orange;
  border: none;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
} 
.btn-black{
  background-color: black;
}

/* Marquee style start here */
.marquee-text{
  width: 100%;
  color: black;
  height: 30px;
  font-family: "Quicksand", serif;
  font-size: 18px;
  background-color: skyblue;
 }    
 /* nav style start here */
.nav-style{
  /* width: 100%; */
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width: 62px;
  height: 62px;
 
}
.logo > h2{
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.list-item{
  display: flex;
  
}
.list-item > li {
  margin: 0 32px;
  font-weight: 600;
  font-size: 20px;
}
.item-1{
  color: orange;
 }
 .item-2{
   color: skyblue;
 }
 .item-3{
   color: #05D4DF;
 }
 .item-4{
   color: #5D58EF;
 }
 .menu-icon-style{
  display: none;
  font-size: 24px;
  cursor: pointer;
}
/* navbar end here */
 /* horizontal line */
.hr-line{
  max-width: 100%;
  border: none;
 /* padding: 2px; */
  display: none;
  border-top: 1px solid orange;
  
}
/* hr end here */
/* header style start here */
.header{
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  }
  .header-title{
    font-weight: bold;
    font-size: 56px;
    color: black;
    margin-top: 100px;
  }
  .orange-head{
    color: orange;
  }
  .blue-head{
    color: #01ACFD;
  }
  .header-description{
    font-weight: normal;
    font-size: 18px;
    color: black;
  }
  .header-btn{
    margin-top: 10px;
  }
  /* header style end here */
/* curriculum section style start here */
.curriculum{
  max-width: 1160px;
  margin: 0 auto;
  background-image: url(../images/bg.png);
}
.section-title{
  text-align: center;
  font-weight: bold;
  font-size: 46px;
  color: #000;
}
.card-section{
  /* display: flex;
  gap: 30px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
  margin: 100px 0;
  
}
.card-title{
  font-weight: bold;
  font-size: 24px;
  color: #202020;
  margin: 30px 0;

}
.card-description{
  font-weight: 500;
  font-size: 15px;
  color: #808080;
  line-height: 38px;
  }
.card-item{
  border-radius: 19px;
}

.card1{
  /* border: 1px solid #64c8ff; */
  padding: 20px;
  background:  linear-gradient(#b9dceeb7, white, white, white, white);
  box-shadow: 0px 0px 0px 0.4px #72cafaa3;
}
.card2{
  padding: 20px;
  background:  linear-gradient(#f9e4b2bc, white, white, white, white);
  box-shadow: 0px 0px 0px 0.4px #f6c75bdc;
}
.card3{
  padding: 20px;
  background:  linear-gradient(#e4cafbbf, white, white, white, white);
  box-shadow: 0px 0px 0px 0.4px #ca8ffec2;
}
.card-btn{
  font-weight: bold;
  font-size: 15px;
  color: #64c8ff;
  border: none;
  background: none;
  cursor: pointer;
  margin: 20px 0;
}
.card-btn1-color{
  color:#64c8ff;
}
.card-btn2-color{
  color: #F0AA00 ;
}
.card-btn3-color{
  color: #8700FF;
}
.curriculum-btn{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.radius-btn{
 width: 60px;
 height: 60px;
 border-radius: 50%;
 border: none;
 background-color: orange;
 color: white;
 font-size: 25px;
 cursor: pointer;
 
}
/* footer style start here */
.footer-section{
  background-color: #01ACFD;
  margin-top: 50px;
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* overflow: hidden; */
  /* box-sizing: border-box;  */
}
.all-footer-content{
  max-width: 1160px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.foot-left{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
}
.foot-left img {
  color: white;
  width: 82px;
  height: 80px;
  margin-top: 28px;
}
.foot-left-title{
  font-weight: bold;
  color: #fff;
  font-size: 35px;
}
.foot-left-description{
  font-size: 20px;
  color: #fff;
}


.foot-list-title{
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
.footer-content>li{
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
.foot-right-title{
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.foot-icon{
 
  cursor: pointer;
}
